html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#board, #board2 {
    margin: 15% 0 15% 0;
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
}

.square {
    width: 6rem;
    height: 6rem;
    border: solid 1px red;
    text-align: center;
}

#modal-button {
    display: none;
}